/* Réinitialisation des styles par défaut
*,
*::before,
*::after {
    box-sizing: border-box; /* Boîte de modélisation pour inclure les bordures et les marges dans la taille */


/* Styles généraux */
body, html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Police de caractères par défaut */
    padding: 0; /* Réinitialise les rembourrages */
    height: 100%; /* Taille de la fenêtre à 100% */
    font-weight: bold; /* Style de police en gras */
}

/* Styles spécifiques pour les écrans de petite taille */
@media screen and (max-width: 600px) {
    /* Ajoutez vos styles pour les smartphones ici */
}

/* Styles spécifiques pour les écrans de taille moyenne (tablette) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Ajoutez vos styles pour les tablettes ici */
}

/* Styles spécifiques pour les écrans de grande taille (ordinateur de bureau) */
@media screen and (min-width: 1025px) {
    /* Ajoutez vos styles pour les ordinateurs de bureau ici */
}

/* Styles pour la section "À propos de moi" */
#about-me {
    min-height: 100vh; /* Hauteur minimale de la section égale à la hauteur de la fenêtre visible pour assurer qu'elle s'affiche entièrement */
    background: #fff; /* Couleur de fond de la section, à ajuster selon les besoins */
    padding: 50px 0; /* Espacement interne en haut et en bas de la section */
    box-sizing: border-box; /* La taille totale de la section inclut les rembourrages et les bordures */
}

/* Conteneur interne pour aligner le contenu au centre */
#about-me .container {
    max-width: 1200px; /* Largeur maximale du contenu pour assurer une bonne lisibilité */
    margin: 0 auto; /* Centrer le contenu horizontalement */
    padding: 0 15px; /* Espacement interne pour le contenu, à ajuster selon les besoins */
}

/* Style du titre principal */
#about-me h1 {
    font-size: 2.5em; /* Taille de police du titre */
    color: #333; /* Couleur du texte du titre, à ajuster selon les besoins */
    margin-bottom: 20px; /* Espacement en bas du titre */
}

/* Style du paragraphe */
#about-me p {
    font-size: 1.2em; /* Taille de police du paragraphe */
    line-height: 1.6; /* Hauteur de ligne pour une meilleure lisibilité */
    color: #666; /* Couleur du texte du paragraphe, à ajuster selon les besoins */
}

/* Styles pour l'en-tête */
header {
    text-align: center; /* Centrer le texte */
    padding: 20px 0; /* Espacement intérieur en haut et en bas de l'en-tête */
    border-radius: 10px; /* Bord arrondi */
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5); /* Ombre du texte */
}

/* Styles pour la navigation */
nav {
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    margin-bottom: 20px; /* Marge en bas */
}

nav ul {
    list-style-type: none; /* Supprime les puces de liste */
    padding: 0; /* Réinitialise les rembourrages */
    margin: 0.5; /* Marge autour de la liste */
    text-align: center; /* Centrer le texte */
    font-weight: bold; /* Style de police en gras */
    font-size: larger; /* Taille de la police */
    flex-wrap: wrap;
    display: flex;
    position: relative; /* Positionnement relatif pour permettre
}

nav ul li {
    list-style: none; /* Afficher les éléments de la liste en ligne */
}

nav ul li a {
    text-decoration: none;
    color: #3d3d3d;
    display: block;
    padding: 10px 15px;
    position: relative;
}

nav ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1cd8d2;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s;
}

nav ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #1cd8d2;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s;
}

nav ul li a:hover {
    color: #1cd8d2;
}

nav ul li a:hover:before,
ul li a:hover:after {
    transform: scaleX(1);
}

/* Styles pour le contenu des onglets */
.tab-content {
    display: none; /* Masquer le contenu par défaut */
    padding: 30px; /* Espacement intérieur */
}

.tab-content.active {
    display: block; /* Afficher le contenu actif */
}

/* Styles pour les projets */
.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Séparer l'image et le texte */
    align-items: flex-start; /* Aligner les éléments au début de la boîte flex */
    margin-bottom: 20px; /* Espace en dessous de chaque section */
}

.project img {
    width: 30%; /* Réduire la taille de l'image */
    height: auto; /* Garder les proportions de l'image */
    border-radius: 15px; /* Pas de bordure pour l'image */
    box-shadow: none; /* Pas d'ombre pour l'image */
}

.project .text-content {
    width: 48%; /* Ajuster la largeur du texte pour qu'il corresponde à celle de l'image */
    padding: 0; /* Pas de padding interne nécessaire */
    text-align: center;
    font-weight: bold; /* Texte en gras */
    color: grey; /* Texte en couleur grise */
}

.project img.zoom-in,
.project .text-content.zoom-in {
    transform: scale(1.05); /* Zoom léger */
    transition: transform 0.3s ease-in-out;
}

.project img.zoom-out,
.project .text-content.zoom-out {
    transform: scale(0.95); /* Dézoom léger */
    transition: transform 0.3s ease-in-out;
}

.project iframe {
    border-radius: 10px; /* Bordure arrondie pour les iframes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre de la boîte */
}

.project logo {
    max-width: 20%; /* Largeur maximale du logo */
}

/* Styles pour la page d'accueil */
.landing-page {
    font-size: larger; /* Taille de la police */
    height: 100vh; /* Hauteur de la fenêtre à 100% */
    display: flex; /* Afficher les éléments en mode flexbox */
    flex-direction: column; /* Alignement vertical */
    justify-content: center; /* Centrer verticalement */
    align-items: center; /* Centrer horizontalement */
    text-align: center; /* Centrer le texte */
    background-color: grey; /* Couleur de fond */
    transition: transform 1s ease-in-out; /* Animation de transition */
    color: #ffffff; /* Couleur du texte */
}

.scroll-down-arrow {
    margin-top: 50px; /* Marge en haut */
}

.scroll-down-arrow img {
    width: 30px; /* Largeur de l'image */
    height: 20px; /* Hauteur de l'image */
    animation: arrow-bounce 1s infinite alternate; /* Animation de rebond */
    color: red; /* Couleur de l'animation */
}

@keyframes arrow-bounce {
    0% {
        transform: translateY(0); /* Pas de déplacement vertical */
    }
    100% {
        transform: translateY(10px); /* Déplacement vertical de 10 pixels */
    }
}

.hidden {
    transform: translateY(-100%); /* Masquer l'élément en le déplaçant vers le haut */
}

/* Style pour la lightbox */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Style pour l'image dans la lightbox */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Style pour le texte de description dans la lightbox */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Style pour le bouton de fermeture */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
