/* Réinitialisation des styles par défaut */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

/* Styles généraux */
body,
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    height: 100%;
    /* color: #ffffff; Couleur de la typographie blanche */
    font-weight: bold;
}

  



header {
    /* background-color: #4d4d4d;
    color: #fff; */
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0.5;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: #4d4d4d;
    background-color: #ffffff;
    border: 1px solid #4d4d4d;
    border-radius: 5px 5px 0 0;
}

nav ul li a.active {
    background-color: #4d4d4d;
    color: #fff;
}

.tab-content {
    display: none;
    padding: 20px;
}

.tab-content.active {
    display: block;
}

.project {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);   */
    overflow: hidden; /* Pour cacher le contenu qui dépasse*/
}

.project img {
    max-width: 70%;
    height: auto;
    display: block; /* Pour empêcher les marges blanches autour des images */
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto; /* Pour centrer l'image horizontalement */
    border-radius: 10px;
}


.project p {
    font-size: 16px;
    margin: 10px;
    text-align: center; /* Pour centrer le texte */
    
}


.project iframe {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.project logo {
    max-width: 20%
}
/* Menu de garde  */

.landing-page {
    font-size: larger;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: grey ;
    transition: transform 1s ease-in-out;
    color: #ffffff; /*Couleur de la typographie blanche */
}

.scroll-down-arrow {
    margin-top: 50px;
}

.scroll-down-arrow img {
    width: 30px; /* Taille de la flèche réduite */
    height: 30px;
    animation: arrow-bounce 1s infinite alternate;
    color: red;

}

@keyframes arrow-bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

.hidden {
    transform: translateY(-100%);
}
