/* Body Styles */
body {
    
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b1f24; /* This sets the background color for the entire page */
    color: #fff; /* Sets the default text color to white */
    font-weight: bold;
}
/* Hide all tab-content sections by default */
.tab-content {
    display: flex;
}

/* Only display the active tab-content section */
.tab-content.active {
    display: block;
    background-size: cover; /* If you want background images to cover the area */
}

/* Navbar Styles */
.navbar {
    display: flex; /* Utilise Flexbox pour disposer les éléments en ligne */
    justify-content: space-between; /* Répartit l'espace disponible entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
    background-color: #1b1f24; /* Arrière-plan sombre pour la barre de navigation */
    color: white; /* Couleur du texte */
    padding: 1rem; /* Ajoute de l'espace intérieur */
    font-weight: bold;

}

.navbar .logo {
    font-weight: bold; /* Police en gras */
    font-size: 1.5rem; /* Taille de police */
    cursor: pointer; /* Indique que le logo est cliquable */
    color: #fff; /* Couleur du texte */
    transition: text-shadow 0.3s ease, color 0.3s ease; /* Transition en douceur pour l'effet de survol */
}

.navbar .logo:hover {
    text-shadow: 4px 4px 8px rgba(30, 144, 255, 0.8); /* Augmente la taille de l'ombre pour accentuer l'effet d'extrusion */
    color: #1e90ff; /* Change la couleur du texte en bleu au survol */
}

/* Liens de Navigation Styles */
.nav-links {
    list-style: none; /* Supprime les puces des listes */
    display: flex; /* Utilise Flexbox pour disposer les éléments en ligne */
    margin: 0; /* Supprime les marges par défaut */
    padding: 0; /* Supprime les espaces intérieurs par défaut */
}

.nav-links li {
    padding: 0 1rem; /* Ajoute un espacement horizontal entre les éléments de la liste */
}

.nav-links a {
    text-decoration: none; /* Supprime la soulignement des liens */
    color: white; /* Couleur du texte */
    transition: color 0.3s ease; /* Transition en douceur pour l'effet de survol */
}

.nav-links a:hover {
    color: #1e90ff; /* Change la couleur au survol pour indiquer l'interactivité */
    text-shadow: 4px 4px 8px rgba(30, 144, 255, 0.8); /* Augmente la taille de l'ombre pour accentuer l'effet d'extrusion */
    color: #1e90ff;
}
.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    /* Additional styles for the hamburger menu */
    cursor: pointer; /* Change cursor to pointer for better UX */
    position: absolute; /* Position the hamburger menu absolutely */
    top: 20px; /* Adjust the top position */
    right: 20px; /* Adjust the right position */
    z-index: 10; /* Ensure it's above other elements */

}
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        padding: 0.5rem 0;
    }

    .hamburger {
        display: block;
    }
}



/* Section d'introduction Styles */

.intro {
    font-size: 3rem;
    position: relative;
    text-align: center;
    padding: 2rem 1rem; /* Reduced vertical padding */
    background-color: #1b1f24;
    color: white;
    min-height: 50vh; /* Reduced minimum height */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    flex-direction: column;

    }
.intro .content,
.intro .intro-image {
         /* Full width on small screens */
        text-align: center; /* Center align the text */
    }
/* Style pour le contenu textuel de l'intro */
.content {
    font-size: 10rem; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; /* Le texte doit être au-dessus de l'image et de la forme en arrière-plan */
    color: #fff; /* Couleur du texte */
    text-align: center; /* Centrage du texte */
    max-width: 100%;
}

/* Conteneur des Statistiques Styles */
.stats {
    display: flex; /* Utilise Flexbox pour disposer les éléments en ligne */
    justify-content: center; /* Centre les éléments horizontalement */
    margin: 2rem 0; /* Ajoute une marge */
}

.stats div {
    margin: 1rem; /* Ajoute une marge autour des éléments */
    text-align: center; /* Centre le texte */
}



/* Texte d'introduction Styles */
.text {
    font-size: 10rem; 
    max-width: 600px; /* Largeur maximale */
    padding: 0 50px; /* Ajoute de l'espace intérieur sur les côtés */
    font-weight: bold;
}

.top-line {
    height: 4px; /* Hauteur de la ligne */
    width: 50px; /* Largeur de la ligne */
    background-color: #1e90ff; /* Couleur de mise en évidence pour la ligne supérieure */
    margin-bottom: 20px; /* Marge en bas */
}

h1 {
    font-size: 2.5rem; /* Taille de police plus grande pour le titre principal */
    margin-bottom: 1rem; /* Marge en bas du titre */
    text-shadow: #fff;
    text-shadow: -4px 3px 0 #3a50d9,
                 -14px 7px 0 #0a0e27;
}
.text h1{
    font-size: 4rem;
}


h3{
    font-size: 2rem;
}
p {
    font-size: 1rem; /* Taille de police */
    margin-bottom: 2rem; /* Augmente la marge en bas pour l'espacement */
}

.stats-container {
    display: flex; /* Utilise Flexbox pour disposer les éléments en ligne */
    justify-content: space-between; /* Répartit l'espace disponible entre les éléments */
    max-width: 400px; /* Largeur maximale du conteneur de statistiques */
    margin: auto; /* Centre le conteneur de statistiques */
}

.stat {
    text-align: center; /* Centre le contenu de chaque statistique */
}

.number {
    font-size: 2.5rem; /* Taille de police plus grande pour les chiffres */
    font-weight: bold; /* Police en gras */
    display: block; /* Affiche en tant que bloc */
    margin-bottom: 0.5rem; /* Marge en bas du nombre */
}

.descriptor {
    font-size: 1rem; /* Taille de police pour le descripteur */
}

/* Image d'introduction Styles */
.intro-image {
    position: relative;
    z-index: 1; /* L'image doit être au-dessus de la forme en arrière-plan mais sous le texte */
    width: auto; /* Ajustez la largeur selon le design */
    height: auto; /* Ajustez la hauteur selon le design */
    border-radius: 50%; /* Si vous voulez une image ronde */
    width: 400px; /* Taille de l'image légèrement plus grande */
    height: 400px; /* Hauteur de l'image */
    /* border-radius: 50%; Bords arrondis pour un effet de cercle */
    overflow: hidden; /* Cache tout contenu dépassant de l'image */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ajoute une ombre subtile pour la profondeur */
}

.intro-image img {
    width: 100%; /* Largeur de l'image à 100% */
    height: 100%;
    height: auto; /* Hauteur automatique */
    /* border-radius: 50%; */
    object-fit: cover;
    /* display: block; Affiche en tant que bloc pour supprimer tout espace supplémentaire en dessous de l'image */
}


/* Style pour les élements  */
/* Style des images dans les projets des onglets */
.tab-content .project img {
    max-width: 100%; /* Assurez-vous que les images ne dépassent pas la largeur de leur conteneur */
    height: auto; /* Ajustez automatiquement la hauteur pour conserver les proportions de l'image */
    border-radius: 5px; /* Ajoutez des coins arrondis aux images si nécessaire */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoutez une légère ombre pour un effet de profondeur */
    margin-bottom: 10px; /* Ajoutez une marge en bas pour l'espacement entre les images */
    filter: drop-shadow(2px 2px 2px blue);
}



.project img {
    max-width: 60%;
    height: auto; /* Ajustez automatiquement la hauteur pour conserver les proportions de l'image */
    border-radius: 5px; /* Ajoutez des coins arrondis aux images si nécessaire */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajoutez une légère ombre pour un effet de profondeur */
    margin-bottom: 10px; /* Ajoutez une marge en bas pour l'espacement entre les images */
    filter: drop-shadow(2px 2px 2px blue);
}

.icon-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Adjusted margin */
    gap: 30px; /* Adjusted gap */
    opacity: 1;
    pointer-events: auto;
    flex-wrap: wrap;
    margin: 50px;
    filter: drop-shadow(10px 7px 10px bleu);

}

.icon {
    /* Vous pouvez donner une classe .icon à chaque conteneur d'icône pour un meilleur contrôle */
    margin: 5px; /* Espace autour de chaque icône */
    flex: 0 1 auto; /* Les icônes peuvent rétrécir et grandir mais gardent leur taille par défaut */
    filter: drop-shadow(10px 7px 10px bleu);
}

.icon-row img {
    width: 50px; /* Taille des icônes */
    height: auto; /* Conserver les proportions */
    margin: 0 15px; /* Ajuster l'espacement autour des icônes */
    height: 30px; /* Reduced height of logos */
    /* filter: drop-shadow(2px 2px 2px blue); */
}
.icon-row.visible {
    opacity: 1;
    visibility: visible; /* Rendre visible lorsque la classe 'visible' est ajoutée */
    transform: translateY(0);
    pointer-events: auto;
}


/* Ajout d'une forme en arrière-plan de la photo */
.background-shape {
    position: absolute;
    top: 50%; /* Centrer verticalement par rapport à la section */
    left: 50%; /* Centrer horizontalement par rapport à la section */
    transform: translate(-50%, -50%); /* Ajustement pour un centrage parfait */
    width: 80%; /* ou une taille spécifique selon votre conception */
    height: 80%; /* ou une taille spécifique selon votre conception */
    background-color: rgba(0, 0, 0, 0.5); /* Couleur semi-transparente */
    border-radius: 50%; /* Forme circulaire */
    z-index: 1; /* Assurez-vous que la forme est en arrière-plan */
}


.content-container {
    display: flex; /* Active Flexbox */
    align-items: center; /* Alignement vertical des enfants */
    justify-content: space-between; /* Espace entre le texte et l'image */
    gap: 20px; /* Espace entre le texte et l'image si nécessaire */
}

.text-content {
    flex: 1; /* Permet au texte de remplir l'espace disponible */
    padding-right: 20px; /* Espace entre le texte et l'image */
    text-align: center; /* Centrer le texte à l'intérieur de chaque conteneur */
    margin: auto; /* Centrer le conteneur lui-même horizontalement */
    max-width: 600px; /* Définir une largeur maximale pour le contenu pour éviter qu'il ne devienne trop large sur les grands écrans */
}

.image-container {
    flex: 1; /* Permet à l'image de remplir l'espace disponible */
}

.image-container img {
    max-width: 100%; /* Assure que l'image ne dépasse pas le conteneur */
    height: auto; /* Maintient l'aspect ratio de l'image */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(209, 208, 208, 0.1); 

}

.project iframe {
    border-radius: 15px;
   
}




.icon-row {
    display: flex;
    justify-content: center; /* Adjust as needed for your layout */
    gap: 10px; /* Space between icons */
    grid-template-columns: repeat(auto-fit, 
    minmax(min(11.25rem),1fr));
    
}

.icon {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

.icon img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajout de l'ombre portée */
}

.icon:hover img {
    transform: scale(1.1); /* Slightly enlarge the icon */
}

.icon-text {
    display: none;
    position: absolute;
    bottom: -40px; /* Adjust the position as needed */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Ensure the text does not wrap */
    color: #fff; /* Text color */
    font-weight: bold;
    
    /* Add more styles as needed */
}

.icon:hover .icon-text {
    display: block;
}

#Design {
    display: block; /* Ensures that #Design is a block-level container */
}

.project {
    display: block; /* Makes each project a block-level element */
    margin-bottom: 20px; /* Adds space between the projects */
    /* Other styles... */
}

.my-new-class {
height: auto;
border-radius: 15px;

}

.download-cv-button {
    padding: 10px 20px; /* Size of the button */
    color: white; /* Text color */
    background: linear-gradient(to right, #434343 0%, black 100%); /* Gradient effect */
    border: 2px solid #4f4f4f; /* Border color and width */
    border-radius: 25px; /* Rounded corners */
    font-weight: bold; /* Font weight */
    text-transform: uppercase; /* Uppercase text */
    text-decoration: none; /* Remove underline from links */
    box-shadow: 0 4px 8px rgba(173, 170, 170, 0.2); /* Shadow effect */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    display: inline-block; /* Allows the use of padding and centering */
    cursor: pointer; /* Cursor effect when hovering over the button */
    font-size: small;
    font-size: 0.8rem;
    margin-top: 50px;

}

.download-cv-button:hover {
    background: linear-gradient(to left, #434343 0%, black 100%); /* Gradient direction changes on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Larger shadow on hover */
}


/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    /* Adjust the size of the profile image */
    .intro-image img {
        max-width: 300px;
    }

    /* Adjust the positioning of the text */
    .intro h1 {
        font-size: 1.5rem; /* Smaller font size */
        margin-top: 20px; /* Add space above the text */
    }

    .intro p {
        font-size: 1rem; /* Smaller font size */
    }

    /* Adjust the layout of any buttons or icons */
    .intro .download-button {
        font-size: 0.8rem; /* Smaller font size */
        padding: 10px 20px; /* Adjust padding */
    }

    /* Make sure social icons don't overlap */
    .social-icons {
        width: 100%; /* Full width */
        justify-content: space-around; /* Space out icons */
    }
    .icon-row {
            justify-content: space-around;
            margin: 100px; /* Répartit l'espace plus uniformément lorsque les icônes sont sur plusieurs lignes */
          }
    
    .icon {
            flex-basis: 100%; /* Chaque icône prendra toute la largeur sur les petits écrans */
            text-align: center;
            margin: 50px; /* Si vous avez du texte en dessous des icônes, cela le centrera */
          }
        

}

/* You might need additional media queries for other screen sizes */
@media (max-width: 480px) {
    .intro-image img {
      max-width: 200px; /* Even smaller for very small screens */
    }
    .text h1 {
      font-size: 1.2rem; /* Smaller font size for the title */
    }
    .text p {
      font-size: 1rem; /* Smaller font size for the paragraph */
    }
    .download-cv-button {
      font-size: 0.8rem; /* Smaller font size for the button */
      padding: 10px; /* Adjust padding for the button */
      bottom: -40px; /* Adjust the position of the button */
    }
    .text a img {
    width: 40px; /* Smaller size for LinkedIn icon */
    height: 40px;
    }
    .icon-row {
        justify-content: space-around; 
        margin: 100px;/* Répartit l'espace plus uniformément lorsque les icônes sont sur plusieurs lignes */
      }
      
      .icon {
        flex-basis: 100%; /* Chaque icône prendra toute la largeur sur les petits écrans */
        text-align: center; /* Si vous avez du texte en dessous des icônes, cela le centrera */
      }
    
}


/* Ensure the nav-links are visible when the hamburger menu is active */
.nav-links.active {
    display: flex; /* Display the navigation links */
}